<div class="container-fluid">
  <div class="row container-header">
    <div class="col d-flex flex-row container-header__left">
      <div class="text-center">
        <img [src]="srcAvatarUser" alt="avatar user" class="rounded-circle container-header__left__avatar__image">
        <span class="container-header__left__avatar__text">{{user.name}}</span>
        <span class="badge" style="display: block" [ngClass]="(turn_user==='wait')?'badge-warning':'badge-success'">{{turn_user}}</span>
      </div>
      <div class="align-self-center">
        <span class="container-header__left__text">{{nvictory_user}}</span>
      </div>
    </div>
    <div class="col container-header__center">
      <!-- <span [style.color]="'red'">{{user2.name}}</span> -->
      <div class="container-header__center__circle">
        <div class="container-header__center__circle__text text-center">
          VS
        </div>
      </div>
    </div>
    <div class="col d-flex flex-row container-header__right justify-content-end">
      <div class="align-self-center">
        <span class="container-header__right__text">{{nvictory_user2}}</span>
      </div>
      <div class="text-center">
        <img [src]="srcAvatarUser2" alt="avatar user 2" class="rounded-circle container-header__left__avatar__image">
        <span class="container-header__left__avatar__text">{{user2.name}}</span>
        <span class="badge" style="display: block" [ngClass]="(turn_user2==='wait')?'badge-warning':'badge-success'">{{turn_user2}}</span>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid footer">

  <div class="container-fluid" style="padding-bottom: 10px;">
    <div class="container-center">
      <app-table-game></app-table-game>
    </div>
  </div>

</div>