// colors
$input-background: rgba(57, 63, 84, 0.8);
$input-text-inactive: #7881A1;
$input-text-active: #BFD2FF;
$red: #dc685a;
$green: #1abc9c;

$size-circle: 30px;
$size-avatar: 75px;


/*
* Container avatar
 */
.container-header {
  margin-top: 20px;
  //border-bottom: 1px solid $input-text-inactive;
}

.container-header__left__avatar__image {
  background-color: $input-background;
  width: $size-avatar;
}

.container-header__left__avatar__text {
  text-transform: uppercase;
  color: $input-text-active;
  display: block;
}

.container-header__left__text {
  padding-left: 20px;
  font-size: xx-large;
  color: $input-text-active;
}
.container-header__right__text {
  padding-right: 20px;
  font-size: xx-large;
  color: $input-text-active;
}

.container-body__row2__list {
  //max-height: 500px;
  //overflow: scroll;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  background-color: $input-background;
}

.container-header__center {
  margin-top: auto;
  margin-bottom: auto;
}

.container-header__center__circle {
  background-color: $input-text-inactive;
  width: $size-circle; 
  height: $size-circle; 
  margin: auto; 
  border-radius: $size-circle;
}

.container-header__center__circle__text {
  line-height: $size-circle;
  font-size: smaller;
}


.container-header__left__icon-seed {
  position: absolute;
  height: 30px;
  left: 14px;
}
.container-header__right__icon-seed {
  position: absolute;
  height: 30px;
  right: 14px;
}


.container-game {
  margin-top: 50px;
}


/*
* Progress bar
 */
.progress-container {
  width: 100%;
  height: 15px;
}

.progress {
  height: 100%;
  width: 0%;
  background-color: $input-text-inactive;
}


/*
*
*/

.body-overlay {
    position: absolute;
    left: 0;
    top: 50%;
    z-index: 1;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    color:white;
  }
  
  .overlay {
    position: fixed;
    top: 0!important;
    left: 0!important;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: $input-background;
    line-height: 1;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-transition: background-color .5s linear;
    transition: background-color .5s linear;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    will-change: opacity;
    z-index: 1000;
  }

  