
<div class="tic-tac-toe">
  <div class="d-flex justify-content-center row1">
    <div class="cube" id="cube1" (click)="clickCube(1, seed)"></div>
    <div class="cube" id="cube2" (click)="clickCube(2, seed)"></div>
    <div class="cube" id="cube3" (click)="clickCube(3, seed)"></div>
  </div>
  <div class="d-flex justify-content-center row2">
    <div class="cube" id="cube4" (click)="clickCube(4, seed)"></div>
    <div class="cube" id="cube5" (click)="clickCube(5, seed)"></div>
    <div class="cube" id="cube6" (click)="clickCube(6, seed)"></div>
  </div>
  <div class="d-flex justify-content-center row3">
    <div class="cube" id="cube7" (click)="clickCube(7, seed)"></div>
    <div class="cube" id="cube8" (click)="clickCube(8, seed)"></div>
    <div class="cube" id="cube9" (click)="clickCube(9, seed)"></div>
  </div>
</div>
