/* Variables
-------------------------------------------------------------- */
$input-background: rgba(57, 63, 84, 0.5);
$input-background-hover: rgba(57, 63, 84, 0.8);
$input-text-inactive: #7881A1;
$input-text-active: #BFD2FF;
$background: #252736;

$player-1-color: #dc685a;
$player-2-color: #ecaf4f;
$hover-color:    #3d4250;


.cube {
  cursor: pointer;
  min-width: 100px;
  min-height: 100px;
  background-color: $input-background;
  border-radius: 5px;
  margin: 2px;
}
.cube:hover {
  background-color: $input-background-hover;
}


//.isDisabled {
//  cursor: not-allowed;
//  background-color: $background;
//}
//.isDisabled:hover {
//  background-color: $background;
//}

.cube__disabled__o {
  cursor: not-allowed;
  background-image: url("../../../assets/images/o.png");
  background-color: $background;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
}
.cube__disabled__o:hover {
  background-color: $background;
}


.cube__disabled__x {
  cursor: not-allowed;
  background-image: url("../../../assets/images/x.png");
  background-color: $background;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
}
.cube__disabled__x:hover {
  background-color: $background;
}