<div id="carousel">

  <div class="hideLeft">
    <img src="../../../assets/images/avatars/1.svg" alt="avatar1">
  </div>

  <div class="hideLeft">
    <img src="../../../assets/images/avatars/2.svg" alt="avatar2">
  </div>

  <div class="hideLeft">
    <img src="../../../assets/images/avatars/3.svg" alt="avatar3">
  </div>

  <div class="hideLeft">
    <img src="../../../assets/images/avatars/4.svg" alt="avatar4">
  </div>

  <div class="hideLeft">
    <img src="../../../assets/images/avatars/5.svg" alt="avatar5">
  </div>

  <div class="prevLeftSecond">
    <img src="../../../assets/images/avatars/6.svg" alt="avatar6">
  </div>

  <div class="prev">
    <img src="../../../assets/images/avatars/7.svg" alt="avatar7">
  </div>

  <div class="selected">
    <img src="../../../assets/images/avatars/8.svg" alt="avatar8">
  </div>

  <div class="next">
    <img src="../../../assets/images/avatars/9.svg" alt="avatar9">
  </div>

  <div class="nextRightSecond">
    <img src="../../../assets/images/avatars/10.svg" alt="avatar10">
  </div>

  <div class="hideRight">
    <img src="../../../assets/images/avatars/11.svg" alt="avatar11">
  </div>

  <div class="hideRight">
    <img src="../../../assets/images/avatars/12.svg" alt="avatar12">
  </div>

  <div class="hideRight">
    <img src="../../../assets/images/avatars/13.svg" alt="avatar13">
  </div>

  <div class="hideRight">
    <img src="../../../assets/images/avatars/14.svg" alt="avatar14">
  </div>

  <div class="hideRight">
    <img src="../../../assets/images/avatars/15.svg" alt="avatar15">
  </div>

  <div class="hideRight">
    <img src="../../../assets/images/avatars/16.svg" alt="avatar16">
  </div>

</div>

<!--<div class="buttons">-->
  <!--<button id="prev" (click)="moveToSelected('prev')">Prev</button>-->
  <!--<button id="next" (click)="moveToSelected('next')">Next</button>-->
<!--</div>-->
