<div class="container-fluid">

    <div class="row no-gutters justify-content-md-center">
        <div class="col-md-6 profile">
            <div class="row">
                <div class="col profile__avatar">
                    <!-- <img [src]="srcAvatar" alt="avatar" class="rounded-circle container-header__col-avatar__image"> -->
                    <img class="profile__avatar__image" [src]="srcAvatar" alt="Avatar user">
                    <span class="profile__avatar__name badge badge-light">{{user.name}}</span>
                </div>
                <div class="col profile__right text-right">
                    <span class="badge badge-light">ROOMS • {{rooms.length}}</span>
                </div>
            </div>
        </div>
    </div>


    <div class="container-body">
        <div class="row no-gutters container-body__row1 justify-content-md-center">
                <div class="col-md-12">
                </div>
        </div>
        <div class="row no-gutters container-body__row2">
            <div class="col-md-3">
            </div>
            <div class="col-md-6">
                <form #formApp="ngForm" class="d-none d-sm-block" (ngSubmit)="formApp.valid && onSubmit(step, formApp)"
                      novalidate autocomplete="off" style="margin-bottom: 10px;">
                    <div class="container-body__input">
                        <input type="text" [(ngModel)]="roomName" #room="ngModel" name="room"
                               placeholder="Create new room.." aria-label="room" required
                               pattern="[A-Za-z0-9]{3,}">
                        <button type="submit"
                                [ngClass]="{'container-body__input__button' : formApp.valid, 'container-body__input__button--hide' : formApp.invalid}">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                </form>
                <!--STEP 2 - Rooms -->
                <div *ngIf="rooms.length > 0">
                    <div class="text-center"></div>
                    <div class="list-group container-body__row1__list">
                        <a *ngFor="let room of rooms" (click)="joinRoom(room)"
                           class="list-group-item list-group-item-action flex-column align-items-start">
                            <div class="d-flex w-100 justify-content-between">
                                <h5 class="mb-1 container-body__row1__list__title">
                                    <b>{{room.name}}</b>
                                </h5>
                                <small>{{getTimeAgo(room.timestamp)}} • {{room.nclients}}/2</small>
                            </div>
                            <!--<small>Host: <b>{{room.user.name}}</b></small>-->
                            <img src="../assets/images/avatars/{{room.user.avatar}}.{{imageExtension}}"
                                 alt="Avatar Host" class="rounded-circle container-body__row1__list__avatar">
                            <b>{{room.user.name}}</b>
                        </a>
                    </div>
                </div>
                <div *ngIf="rooms.length===0">
                    <div class="alert container-body_alert" role="alert">
                        No rooms available!
                    </div>
                </div>
            </div>
            <div class="col-md-3">
            </div>
        </div>
    </div>


    <div class="fixed-bottom d-sm-none">
        <div class="row">
            <div class="col text-center">
                <form #formApp="ngForm" (ngSubmit)="formApp.valid && onSubmit(step, formApp)" novalidate
                      autocomplete="off">
                    <div class="container-body__input">
                        <input type="text" [(ngModel)]="roomName" #room="ngModel" name="room"
                               placeholder="Create new room.." aria-label="room" required
                               pattern="[A-Za-z0-9]{3,10}">
                        <button type="submit"
                                [ngClass]="{'container-body__input__button' : formApp.valid, 'container-body__input__button--hide' : formApp.invalid}">
                            <i class="fas fa-arrow-right"></i>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

<app-notify [type]="notifyType" [title]="notifyTitle" [text]="notifyText" [showNotify]="showNotify"
            (eventCloseNotify)="closeNotify($event)"></app-notify>